<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>ColorSteps</title>
</head>
<body>
    
    <div class="ui main class text container">
        <div class="ui huge header">
            List of challenges
        </div>
        <div class="ui top attached segment">
                <div class="ui devided items">
            <%challenges.forEach(function(challenge){ %>
                <div class="item">
                        <div class="image">
                            <img src="<%=challenge.image%>" alt="">
                        </div>
                        <div class="content">
                            <%=challenge.name%>
                        </div>
                        <div class="description">
                            <button class="ui floated violet basic button">Show</button>
                            <form style="display: inline;" id="delete" action="/challenges/<%=challenge._id%>?_method=DELETE" method="POST">
                                <button class="ui red basic button">Delete</button>
                
                            </form>
                         </div>
                        
                </div>
            <% }); %>
    </div>
    </div>

</div>
    
</body>
</html>